table {
    width: 100%;
  }
  .data-table-container{
    width:75%;
    padding-top: 10px;
  }
  .header{
    background-color: #0b991f;
  }
  .heading{
    font-family: sans-serif;
    color: #0b991f;
    font-weight: 400;
  }
  .container-padding{
    margin-top: 20px;
  }
  .btn-add{
    float:right;
    background-color: #0b991f;
    border-color: #0b991f;
  }